In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# FInd all files in folders relaxed, happy, sad, angry
import os
import glob
happy_files = glob.glob('happy/*.txt')
sad_files = glob.glob('sad/*.txt')
angry_files = glob.glob('angry/*.txt')
relaxed_files = glob.glob('relaxed/*.txt')

In [4]:
# Import ml_balanced.xlsx
df = pd.read_excel('ml_balanced.xlsx')
df.head()

  Index           Artist               Title     Mood
0   ML1            Usher  There Goes My Baby  relaxed
1   ML2         Da'Ville          On My Mind  relaxed
2   ML3          Rihanna       Rockstar 101   relaxed
3   ML4       J. Holiday                 Bed  relaxed
4   ML5  Morgan Heritage   Don't Haffi Dread    angry

In [5]:
# Create a dataframe for each emotion with each column 'Index', 'Artist', 'Title', 'Mood'
happy_df = pd.DataFrame(columns=['Index', 'Artist', 'Title', 'Mood'])
sad_df = pd.DataFrame(columns=['Index', 'Artist', 'Title', 'Mood'])
angry_df = pd.DataFrame(columns=['Index', 'Artist', 'Title', 'Mood'])
relaxed_df = pd.DataFrame(columns=['Index', 'Artist', 'Title', 'Mood'])

In [6]:
# Get a list of all the indxes of the songs which is obtained from _files with after / before _
happy_index = []
for i in happy_files:
    happy_index.append(i.split('/')[1].split('_')[0])
sad_index = []
for i in sad_files:
    sad_index.append(i.split('/')[1].split('_')[0])
angry_index = []
for i in angry_files:
    angry_index.append(i.split('/')[1].split('_')[0])
relaxed_index = []
for i in relaxed_files:
    relaxed_index.append(i.split('/')[1].split('_')[0])
# Print firdt 5 indexes
print(happy_index[:5])

['ML1569', 'ML1433', 'ML1445', 'ML309', 'ML1216']

In [7]:
# Get the artist and title of the songs and mood from the dataframe df and append it to the respective dataframes
happy_to_concat = []
# Your loop to append rows
for i in happy_index:
    happy_to_concat.append(df.loc[df['Index'] == i])
# Concatenate DataFrames outside the loop
happy_df = pd.concat(happy_to_concat, ignore_index=True)
# Sort the dataframe by index
happy_df.sort_values(by=['Index'], inplace=True)

sad_to_concat = []
# Your loop to append rows
for i in sad_index:
    sad_to_concat.append(df.loc[df['Index'] == i])
# Concatenate DataFrames outside the loop
sad_df = pd.concat(sad_to_concat, ignore_index=True)
# Sort the dataframe by index
sad_df.sort_values(by=['Index'], inplace=True)

angry_to_concat = []
# Your loop to append rows
for i in angry_index:
    angry_to_concat.append(df.loc[df['Index'] == i])
# Concatenate DataFrames outside the loop
angry_df = pd.concat(angry_to_concat, ignore_index=True)
# Sort the dataframe by index
angry_df.sort_values(by=['Index'], inplace=True)

relaxed_to_concat = []
# Your loop to append rows
for i in relaxed_index:
    relaxed_to_concat.append(df.loc[df['Index'] == i])
# Concatenate DataFrames outside the loop
relaxed_df = pd.concat(relaxed_to_concat, ignore_index=True)
# Sort the dataframe by index
relaxed_df.sort_values(by=['Index'], inplace=True)

In [8]:
relaxed_df

      Index             Artist                 Title     Mood
374     ML1              Usher    There Goes My Baby  relaxed
287    ML10         Beenie Man                  Slam  relaxed
41   ML1001           Rockpile       Teacher Teacher  relaxed
481  ML1002                Air   Cherry Blossom Girl  relaxed
216  ML1004        Damien Rice  The Blowers Daughter  relaxed
..      ...                ...                   ...      ...
22    ML974  Wadsworth Mansion            Sweet Mary  relaxed
351   ML981          PJ Harvey    This Mess We're In  relaxed
255   ML984            Oh Land          White Nights  relaxed
158   ML997       Jack Johnson       From The Clouds  relaxed
430   ML999      Stereophonics        Maybe Tomorrow  relaxed

[495 rows x 4 columns]

In [9]:
# Select the first 50 songs from each emotion and create a new dataframe
h_df = happy_df[:50]
s_df = sad_df[:50]
a_df = angry_df[:50]
r_df = relaxed_df[:50]
# Concatenate all the dataframes
frames = [h_df, s_df, a_df, r_df]
result = pd.concat(frames)
# Reset the index of the dataframe
result.reset_index(inplace=True)
# Drop the old index column
result.drop('index', axis=1, inplace=True)
# Save the dataframe as a csv file
# result.to_csv('selected_songs.csv', index=False)
result

,Index,Artist,Title,Mood
0,ML100,Bad Company,Can't Get Enough,happy
1,ML1003,Los Lobos,Come On Let's Go,happy
2,ML1008,Hezekiah Walker & The Love Fellowship Crusade ...,Power Belongs To God,happy
3,ML1009,Donald Byrd,Think Twice,happy
4,ML1011,Inner City,Good Life,happy
...,...,...,...,...
195,ML1203,Bettye LaVette,It Don't Come Easy,relaxed
196,ML1207,Johnny O.,Fantasy Girl,relaxed
197,ML1210,Harlem,Spray Paint,relaxed
198,ML1211,Fleet Foxes,Sun It Rises,relaxed
199,ML1212,Nellie McKay,The Very Thought Of You,relaxed

In [19]:
# Reset the index of the dataframe
h_df = h_df.reset_index(drop=True)
s_df = s_df.reset_index(drop=True)
a_df = a_df.reset_index(drop=True)
r_df = r_df.reset_index(drop=True)

In [20]:
# Create a new folder named 'selected_lyrics' and create 4 subfolders named 'happy', 'sad', 'angry', 'relaxed' and save the lyrics of the songs in result in the respective folders
import os
import shutil
# Create a new folder named 'selected_lyrics'
# os.mkdir('selected_lyrics')
# # Create 4 subfolders named 'happy', 'sad', 'angry', 'relaxed'
# os.mkdir('selected_lyrics/happy')
# os.mkdir('selected_lyrics/sad')
# os.mkdir('selected_lyrics/angry')
# os.mkdir('selected_lyrics/relaxed')
# Copy the lyrics of the songs in result in the respective folders

# Happy songs that has i+_+ something before .txt
for i in range(len(h_df)):
    # print(h_df['Index'][i])
    location = glob.glob(f'happy/'+h_df['Index'][i]+'*.txt')
    shutil.copy(location[0], 'selected_lyrics/happy')
# Sad songs that has i+_+ something before .txt
for i in range(len(s_df)):
    location = glob.glob(f'sad/'+s_df['Index'][i]+'*.txt')
    shutil.copy(location[0], 'selected_lyrics/sad')
# Angry songs that has i+_+ something before .txt
for i in range(len(a_df)):
    location = glob.glob(f'angry/'+a_df['Index'][i]+'*.txt')
    shutil.copy(location[0], 'selected_lyrics/angry')
# Relaxed songs that has i+_+ something before .txt
for i in range(len(r_df)):
    location = glob.glob(f'relaxed/'+r_df['Index'][i]+'*.txt')
    shutil.copy(location[0], 'selected_lyrics/relaxed')

ML100
ML1003
ML1008
ML1009
ML1011
ML1014
ML1015
ML1016
ML1022
ML1024
ML1032
ML1034
ML1036
ML1041
ML1042
ML1044
ML1045
ML1046
ML1047
ML1048
ML1049
ML105
ML1050
ML1055
ML1056
ML1057
ML1058
ML1059
ML1060
ML1063
ML1064
ML1067
ML1068
ML1077
ML1081
ML1082
ML1083
ML1088
ML1090
ML1091
ML1095
ML1098
ML11
ML110
ML1103
ML1108
ML1109
ML1110
ML1118
ML1121